body{
   width:600px;
   height:500px;
    background: url(/Images/congruent_pentagon-1.jpg) repeat 0 0;
}

<style>
h4 {
    color: black;
    font-family: arial;
    font-size: 200%;
    font-weight: bold;
}
h5 {
    color:  #003300;
    margin: 10px;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-left: 0;
}
p{
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin: 3px;
    padding: 0;

}
b{
    font-weight: bold; 
    color: #333300;
}
table, th, td 
        {
            border-collapse: collapse;

            /*margin:10px 0;*/
            border:1px solid;
            padding:2px 4px;
            font-size: 15px;
            font-family: 'Arvo', serif;
            color: #003312;

        }
        th {
            font-weight:bold;
        }
    </style>





